*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
}



.content-main{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;

}
.content-main__motorola{   
    width: 80%;
    height:90%;
    display: flex;
    border: solid;



}
.content-main__motorola--left{

    
        width: 36%;
        height: 100%;
        border: solid;
        
}



.imagem{
    width: 100%;
    height: 100%;
    border: solid;
}

.content-main__motorola--right{
    
        width: 64%;
        height: 100%;
        border: solid;
        flex-direction: column;

       
}
.content-main__motorola--Titulo{
        width: 100%;
        height: 30%;
        border: solid;


}

.content-main__motorola--carregador{
        width: 50%;
        height: 20%;
        border: solid;
        display: flex;

}
.content-main__motorola--bateria{
        width: 50%;
        height: 20%;
        border: solid;


}
.content-main__motorola--semfio{       
     width: 100%;
        height: 30%;
        border: solid;
}